*{
    box-sizing: border-box;
}
.parent{
    width: 100%;
    height: 170px;
    color: #fff;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    line-height: 150px;
}
.parent div{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background: red;
    position: relative;
    z-index: 10;
    box-shadow: 2px 2px 5px #00000070,-2px -2px 5px #00000070;
}
.right{
    float: right;
}
.left{
    float: left;
}
.parent div::after, .parent div::before{
    content: "";
    width: 30px;
    height: 30px;
    background-color: #000;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    z-index: -1;
}
.parent .left{
    animation: move-right 6s linear forwards;
    
}
.parent .right{
    animation: move-left 6s linear forwards;
    
}
.parent .left::after, .parent .left::before{
    animation: rotate-right 2s linear 3 ;
}
.parent .right::after, .parent .right::before{
    animation: rotate-left 2s linear 3 ;
}
.parent div::after{
    left: 50px;
}
.parent div::before{
    right:50px;
}
.two,.parent .two::after, .parent .two::before{
    animation-delay: 6s !important ;
}
.three,.parent .three::after, .parent .three::before{
    animation-delay: 12s !important;
}
.four,.parent .four::after, .parent .four::before{
    animation-delay: 18s !important;
}
.five,.parent .five::after, .parent .five::before{
    animation-delay: 24s !important;
}
.six,.parent .six::after, .parent .six::before{
    animation-delay: 30s !important;
}
.seven,.parent .seven::after, .parent .seven::before{
    animation-delay: 36s !important;
}
.eight,.parent .eight::after, .parent .eight::before{
    animation-delay: 42s !important;
}
@keyframes rotate-right{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate-left{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes move-right{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(75vw,0);
    }
}
@keyframes move-left{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-75vw,0);
    }
}